* {
    box-sizing: border-box;
}

:root {
    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;

    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;

    --prussian-blue: #13293d;
    --lapis-lazuli: #006494;
    --cerulean: #247ba0;
    --celestial-blue: #1b98e0;
    --alice-blue: #e8f1f2;
}

body {
    background-color: var(--prussian-blue);
    color: var(--alice-blue);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 2rem;
    margin: 0 8px;
}

h2 {
    font-size: 24px;
    color: var(--alice-blue);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
}

h3 {
    color: var(--alice-blue);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
    margin: 0;
}

.header-name{
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: var(--alice-blue);
    color: var(--lapis-lazuli);
    border: none;
    font-size: 18px;
    padding-left: 16px;
}

input::placeholder {
    color: var(--lapis-lazuli1);
    font-family: var(--font-family-text);
}

button {
    background-color: var(--celestial-blue);
    border: none;
    color: var(--purple-light-2);
    font-weight: var(--font-weight-text2);
    font-size: 14px;
    cursor: pointer;
}

.trendingPreview-header,
.categoriesPreview-container {
    padding: 0 24px;
}

.relatedMovies-scrollContainer,
.trendingPreview-container,
.categoriesPreview-container,
footer {
    margin-top: 24px;
}

.trendingPreview-header,
.categoriesPreview-title {
    margin-bottom: 24px;
}

.movie-container {
    cursor: pointer;
}

.movie-img {
    border-radius: 8px;
}

.categoriesPreview-list,
.categories-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 16px;
}

.header-container{
    background-image: url("./sources/banner-header.png");
    padding: 16px;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    height: 500px;
}

.header-container-banner-title{
    display: flex;
    margin: 100px 0;
    justify-content: center;
}

.header-title--banner{
    font-size: 6rem;
    opacity: 0;
    animation: animacion 2s ease-in-out forwards;
    color: var(--celestial-blue);
    text-align: center;
}
@keyframes animacion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-title--categoryView{
    text-align: center;
    font-size: 3rem;
}

.header-arrow {
    font-weight: var(--font-weight-text2);
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
}

.header-arrow--white {
    color: var(--lapis-lazuli);
}

.header-icons{
    display: flex;
    justify-content: space-between;
}

.header-icons img{
    width: 40px;
    filter: invert(13%) sepia(94%) saturate(6063%) hue-rotate(189deg) brightness(92%) contrast(101%);
    cursor: pointer;
}

.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 24px;
}

.header-searchForm input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.header-searchForm button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.trendingPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.trendingPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}

.trendingPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    margin: 0 24px 16px;
    gap: 8px;
    display: flex;
}

.trendingPreview-movieList::-webkit-scrollbar, .relatedMovies-scrollContainer::-webkit-scrollbar{
    -webkit-appearance: none;
}

.trendingPreview-movieList::-webkit-scrollbar:horizontal, .relatedMovies-scrollContainer::-webkit-scrollbar:horizontal {
    height: 10px;
}

.trendingPreview-movieList::-webkit-scrollbar-thumb,.relatedMovies-scrollContainer::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.trendingPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
    height: 225px;
    width: 150px;
}

.category-container {
    width: 45%;
    display: flex;
    background-color: var(--cerulean);
    flex-wrap: wrap;
    width: fit-content;
    padding: 16px;
    border-radius: 10px;
}

.category-title {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    display: flex;
    margin-left: 8px;
}

.genericList-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 32px 24px;
    padding: 32px 24px;
    gap: 16px;
    text-align: center;
}

.genericList-container .movie-container {
    display: inline-block;
}

.movieDetail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--prussian-blue);
    color: var(--alice-blue);
    padding: 32px;
}

.movieDetail-img{
    text-align: center;
}

.movieDetail-img img{
    width: 70%;
}

.movieDetail-container-description{
    margin-right: 80px;
}

.movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px;
    padding: 0;
    color: var(--alice-blue);
    font-size: 2.5rem;
}

.movieDetail-score {
    display: inline-block;
    text-align: right;
    font-size: 2.5rem;
    width: 18%;
    font-weight: var(--font-weight-title2);
}

.movieDetail-score::before {
    content: '⭐';
    color: var(--yellow);
    padding-right: 4px;
}

.movieDetail-description {
    font-size: 2rem;
}

.relatedMovies-container {
    margin: 24px;
}

.relatedMovies-title {
    margin-bottom: 16px;
    color: var(--alice-blue);
}

.relatedMovies-scrollContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    gap: 16px;
}

.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
}

.relatedMovies-scrollContainer .movie-img {
    width: 150px;
}

.container-footer{
    background-color: var(--alice-blue);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    align-items: center;
    justify-items: center;
    color: #686B78;
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-contact ul{
    padding: 0;
    display: flex;
    gap: 12px;
}
.footer-contact ul li{
    list-style: none;
}
.footer-contact ul li:nth-child(2){
    padding: 0;
}
.inactive {
    display: none;
}

@media screen and (max-width:1370px) {
    .header-title--banner{
        font-size: 5rem;
    }
}
@media screen and (max-width:1330px) {
    .movie-img{
        width: 60%;
    }
    .genericList-container {
        margin: 32px 0px;
        padding: 32px 0px;
    }
    .movieDetail-title {
        font-size: 2rem;
    }
    .movieDetail-score {
        font-size: 2rem;
    }
    .movieDetail-description {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:1170px) {
    .movieDetail-title {
        font-size: 1.7rem;
    }
    .movieDetail-score {
        font-size: 1.7rem;
    }
    .movieDetail-description {
        font-size: 1.3rem;
    }
}
@media screen and (max-width:920px) {
    .container-footer{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        padding: 16px 0;
    }
    .movieDetail-container{
        grid-template-columns: 1fr;
    }
    .movieDetail-img{
        display: none;
    }
    .movieDetail-container-description{
        margin-right: 0px;
    }
}
@media screen and (max-width:760px) {
    .header-title--banner{
        font-size: 4rem;
    }
}
@media screen and (max-width:610px) {
    .movieDetail-title {
        font-size: 1.4rem;
    }
    .movieDetail-score {
        font-size: 1.4rem;
    }
    .movieDetail-description {
        font-size: 1rem;
    }
    .header-title--categoryView{
        font-size: 2rem;
    }
}
@media screen and (max-width:515px) {
    .header-title--banner{
        font-size: 3rem;
    }
    .container-footer{
        font-size: 0.8rem;
    }
    .movieDetail-container-description{
        display: flex;
        flex-direction: column;
    }
}
